.card-title-playlist,
.video-stats-playlist,
.card-link-playlist {
  color: var(--accent-dark);
  font-weight: 600;
}

.card-body {
  padding: 0.5em 1em !important;
}

p {
  margin-bottom: 0.5em !important;
}

.margin-right {
  margin-right: 0.3em;
}

.btn-contact {
  background-color: var(--accent-dark) !important;
  color: var(--blanco) !important;
  padding: 0.4rem 0.5rem;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}

.btn-contact:hover {
  background-color: var(--accent-light) !important;
  color: var(--blanco) !important;
}
